/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .carousel-item{
        width:100%;
        height: 400px !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carousel-item{
        width:100%;
        height: 400px !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-item{
        width:100%;
        height: 400px !important;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .carousel-item{
        width:100%;
        height: 600px !important;
    }
}

.fit-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}