<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <!-- Blog Detail -->
      <div class="blog-detail">
        <h3 class="mt-2">
          Nulla non interdum metus non laoreet nisi tellus eget aliquam lorem pellentesque
        </h3>

        <div class="mt-3 mb-3">
          <span class="">
            <a href="#" class="most_fh5co_treding_font_123">
              by John Alvarado
            </a>

            <span class="most_fh5co_treding_font_123">-</span>

            <span class="most_fh5co_treding_font_123">
              Feb 18
            </span>
          </span>

          <span class="most_fh5co_treding_font_123">
            5239 Views
          </span>

          <a href="#" class="most_fh5co_treding_font_123">
            0 Comment
          </a>
        </div>

        <div class="mb-2">
          <img src="../../public/images/10-1-1-875x500.jpg" alt="IMG" class="w-100 h-100">
        </div>

        <p class="text-justify">
          Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit
          in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor
          magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a
          venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis
          accumsan felis, quis vulputate
        </p>
        <p class="text-justify">
          Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit
          in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor
          magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a
          venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis
          accumsan felis, quis vulputate
        </p>
        <p class="text-justify">
          Praesent vel mi bibendum, finibus leo ac, condimentum arcu. Pellentesque sem ex, tristique sit amet suscipit
          in, mattis imperdiet enim. Integer tempus justo nec velit fringilla, eget eleifend neque blandit. Sed tempor
          magna sed congue auctor. Mauris eu turpis eget tortor ultricies elementum. Phasellus vel placerat orci, a
          venenatis justo. Phasellus faucibus venenatis nisl vitae vestibulum. Praesent id nibh arcu. Vivamus sagittis
          accumsan felis, quis vulputate
        </p>

        <!-- Tag -->
        <div class="d-flex align-items-center">
          <span class="mr-3">
            Tags:
          </span>

          <div class="recommend-tag">
            <a href="#" class="fh5co_tagg">
              Streetstyle
            </a>

            <a href="#" class="fh5co_tagg">
              Crafts
            </a>
          </div>
        </div>

        <!-- Share -->
        <div class="d-flex align-items-center mb-3">
          <span class="mr-3">
            Share:
          </span>

          <div class="">
            <a href="#" class="fh5co_tagg bg-facebook">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              Facebook
            </a>

            <a href="#" class="fh5co_tagg bg-twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              Twitter
            </a>

            <a href="#" class="fh5co_tagg bg-google">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              Google+
            </a>
          </div>
        </div>
      </div>

      <!-- Leave a comment -->
      <div id="Comment">
        <h4 class="Comment">
          Leave a Comment
        </h4>

        <p class="most_fh5co_treding_font_123">
          Your email address will not be published. Required fields are marked *
        </p>

        <form method="POST" class="form-comment">
          <textarea name="msg" placeholder="Comment..." name="txtContent"></textarea>

          <div class="user-comment">
            <input type="text" name="name" placeholder="Name*" name="txtName">

            <input type="text" name="email" placeholder="Email*" name="txtEmail">
          </div>

          <button class="btn btn-success mt-2 mb-2" type="submit">
            Post Comment
          </button>
        </form>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-10 col-lg-4">
      <!-- Category -->
      <div id="Category">
        <h3 class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
          Category
        </h3>

        <ul class="menu-category">
          <li class="menu-category-item">
            <a href="#" class="d-block">
              Fashion
            </a>
          </li>

          <li class="menu-category-item">
            <a href="#" class="d-block">
              Beauty
            </a>
          </li>

          <li class="menu-category-item">
            <a href="#" class="d-block">
              Street Style
            </a>
          </li>

          <li class="menu-category-item">
            <a href="#" class="d-block">
              Life Style
            </a>
          </li>

          <li class="menu-category-item">
            <a href="#" class="d-block">
              DIY &amp; Crafts
            </a>
          </li>
        </ul>
      </div>

      <!-- Popular Posts -->
      <div class="p-b-30">
        <h3 class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">
          Popular Post
        </h3>

        <ul class="p-t-35">
          <li class="row pb-3">
            <div class="col-sm-4 align-self-center">
              <a href="#" class="d-block">
                <img src="../../public/images/download (2).jpg" alt="IMG" class="w-100 h-100">
              </a>
            </div>

            <div class="col-sm-8">
              <div class="paddding">
                <a href="blog-detail-02.html" class="most_fh5co_treding_font text-dark">
                  <h6>
                    Donec metus orci, malesuada et lectus vitae
                  </h6>
                </a>

                <span class="cl8 txt-center p-b-24">
                  <a href="#" class="most_fh5co_treding_font_123">
                    Music
                  </a>

                  <span class="most_fh5co_treding_font_123">
                    -
                  </span>

                  <span class="most_fh5co_treding_font_123">
                    Feb 18
                  </span>
                </span>
              </div>
            </div>
          </li>

          <li class="row pb-3">
            <div class="col-sm-4 align-self-center">
              <a href="#" class="d-block">
                <img src="../../public/images/download (2).jpg" alt="IMG" class="w-100 h-100">
              </a>
            </div>

            <div class="col-sm-8">
              <div class="paddding">
                <a href="blog-detail-02.html" class="most_fh5co_treding_font text-dark">
                  <h6>
                    Donec metus orci, malesuada et lectus vitae
                  </h6>
                </a>

                <span class="cl8 txt-center p-b-24">
                  <a href="#" class="most_fh5co_treding_font_123">
                    Music
                  </a>

                  <span class="most_fh5co_treding_font_123">
                    -
                  </span>

                  <span class="most_fh5co_treding_font_123">
                    Feb 18
                  </span>
                </span>
              </div>
            </div>
          </li>

          <li class="row pb-3">
            <div class="col-sm-4 align-self-center">
              <a href="#" class="d-block">
                <img src="../../public/images/download (2).jpg" alt="IMG" class="w-100 h-100">
              </a>
            </div>

            <div class="col-sm-8">
              <div class="paddding">
                <a href="blog-detail-02.html" class="most_fh5co_treding_font text-dark">
                  <h6>
                    Donec metus orci, malesuada et lectus vitae
                  </h6>
                </a>

                <span class="cl8 txt-center p-b-24">
                  <a href="#" class="most_fh5co_treding_font_123">
                    Music
                  </a>

                  <span class="most_fh5co_treding_font_123">
                    -
                  </span>

                  <span class="most_fh5co_treding_font_123">
                    Feb 18
                  </span>
                </span>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <!-- Tag -->
      <div id="Tags">
        <h3 class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
          Tags
        </h3>

        <div>
          <a href="#" class="fh5co_tagg">
            Fashion
          </a>

          <a href="#" class="fh5co_tagg">
            Lifestyle
          </a>

          <a href="#" class="fh5co_tagg">
            Denim
          </a>

          <a href="#" class="fh5co_tagg">
            Streetstyle
          </a>

          <a href="#" class="fh5co_tagg">
            Crafts
          </a>

          <a href="#" class="fh5co_tagg">
            Magazine
          </a>

          <a href="#" class="fh5co_tagg">
            News
          </a>

          <a href="#" class="fh5co_tagg">
            Blogs
          </a>
        </div>
      </div>
    </div>
  </div>
</div>